app-header{
  display: block;
  background: rgb(0, 0, 0);
  //border: red solid 1px;
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
   // color: rgb(179, 172, 172);
    max-width: 1200px;
    margin: auto;
    .logo{
      width: 140px;
      cursor: pointer;
    }
    .menus{
      display: flex;
      align-items: center;
      gap: 2rem;
      a{
        color: rgb(153, 148, 148);
        transition: 0.3s;
        &:hover{
          color: red;
        }
      }
      .btn-login{
        background: red;
        border: none;
        padding: 0.8rem 1.6rem;
        color: #fff;
        border-radius: 5px;
        font-weight: 600;
        font-size: 0.8rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  app-header{
    .container{
      padding: 0 1rem;
      .logo{
        width: 110px;
      }
      .btn-login{
        padding: 0.5rem;
      }
      .menus{
        .movie, .home{
          display: none;
        }
      }
    }
  }
}
