movie-list{
  max-width: 1200px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  //border: yellow solid 2px;
}

@media only screen and (max-width: 768px){
  movie-list{
    padding: 0 1rem;
  }
}