@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  background: #131313;
}

app-header {
  display: block;
  background: #131313;
}

app-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  color: #fff;
  max-width: 1200px;
  margin: auto;
}

app-header .container .menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

app-header .container .menus a {
  color: #fff;
}

search-bar {
  display: block;
  max-width: 1200px;
  margin: 2rem auto;
}

search-bar #formDataFilm .form-element {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

search-bar #formDataFilm .form-element input {
  padding: 0.5rem;
}

search-bar #formDataFilm .form-element #judul {
  width: 500px;
}

search-bar #formDataFilm .form-element .cari-btn {
  cursor: pointer;
}

movie-list {
  max-width: 1200px;
  margin: 2rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

movie-item {
  display: block;
}

movie-item .card {
  color: #fff;
}

detail-movie {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  z-index: 3;
  width: 900px;
}

detail-movie .modal {
  padding: 10px;
}

detail-movie .modal .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

detail-movie .modal .container img {
  width: 500px;
}

detail-movie .modal .container .text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

detail-movie .modal .container .text-wrap h3 {
  font-weight: 300;
  color: #13293a;
}

detail-movie .modal .container .text-wrap span {
  color: #0a0a0a;
  font-weight: 600;
}

detail-movie .modal .container .text-wrap .btn-close {
  padding: 0.8rem 2.4rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: none;
  background: #f78205;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.shadow {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  top: 0;
  left: 0;
  opacity: 0.8;
}
/*# sourceMappingURL=style.css.map */