@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  background: #131313;
}

app-header {
  display: block;
  background: black;
}

app-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
  max-width: 1200px;
  margin: auto;
}

app-header .container .logo {
  width: 140px;
  cursor: pointer;
}

app-header .container .menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

app-header .container .menus a {
  color: #999494;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

app-header .container .menus a:hover {
  color: red;
}

app-header .container .menus .btn-login {
  background: red;
  border: none;
  padding: 0.8rem 1.6rem;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  app-header .container {
    padding: 0 1rem;
  }
  app-header .container .logo {
    width: 110px;
  }
  app-header .container .btn-login {
    padding: 0.5rem;
  }
  app-header .container .menus .movie, app-header .container .menus .home {
    display: none;
  }
}

search-bar {
  display: block;
  max-width: 1200px;
  margin: 2rem auto;
}

search-bar #formDataFilm .form-element {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

search-bar #formDataFilm .form-element input {
  padding: 0.5rem;
}

search-bar #formDataFilm .form-element #judul {
  width: 400px;
  color: blanchedalmond;
  background: transparent;
  border: none;
  border: rgba(238, 238, 238, 0.33) solid 1px;
  border-radius: 20px;
  padding: 0.7rem 2rem;
}

search-bar #formDataFilm .form-element .cari-btn {
  cursor: pointer;
  padding: 0.7rem 0.8rem;
  color: #aaaaaa;
  background: none;
  border: rgba(238, 238, 238, 0.33) solid 1px;
  font-size: 1rem;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

search-bar #formDataFilm .form-element .cari-btn:hover {
  background: rgba(225, 225, 225, 0.775);
  color: black;
}

@media only screen and (max-width: 768px) {
  search-bar {
    padding: 0 1rem;
  }
}

movie-list {
  max-width: 1200px;
  margin: 2rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

@media only screen and (max-width: 768px) {
  movie-list {
    padding: 0 1rem;
  }
}

movie-item {
  display: block;
}

movie-item .card {
  color: #fff;
  border: #2c2c2c solid 1px;
  text-align: center;
  padding: 10px;
}

movie-item .card .img-wrap {
  height: 330px;
  overflow: hidden;
  background: #020202;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

movie-item .card .card-body {
  color: #979696;
}

movie-item .card .card-body .card-title {
  font-weight: 400;
  margin-top: 10px;
}

movie-item .card .card-body .card-year {
  font-size: 1rem;
  font-weight: 200;
  margin: 7px 0;
}

movie-item .card .card-body .btn-detail {
  background: transparent;
  border: none;
  border: #636363 solid 1px;
  color: #979696;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}

detail-movie {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 900px;
  background: #eeeded;
  z-index: 3;
}

detail-movie .modal {
  padding: 10px;
}

detail-movie .modal .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

detail-movie .modal .container img {
  width: 400px;
}

detail-movie .modal .container .text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

detail-movie .modal .container .text-wrap h3 {
  font-weight: 300;
  color: #13293a;
  border: #a9a8a8 solid 1px;
  padding: 5px;
}

detail-movie .modal .container .text-wrap span {
  color: #0a0a0a;
  font-weight: 600;
}

detail-movie .modal .container .text-wrap .btn-close {
  padding: 0.5rem 2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: none;
  background: #f78205;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

hero-app {
  display: block;
}

hero-app .hero {
  background: url("https://raw.githubusercontent.com/irfan-fauzi/movie-app-dicoding/main/src/img/loki-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

hero-app .hero .text-wrap {
  position: relative;
  z-index: 4;
  color: #b8b7b7;
  max-width: 1200px;
  margin: 7rem auto 0 auto;
  padding-right: 30rem;
}

hero-app .hero .text-wrap h2 {
  font-size: 3rem;
  font-weight: 800;
  text-transform: capitalize;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.8);
}

hero-app .hero .text-wrap h3 {
  margin: 1rem 0;
  text-transform: capitalize;
  font-weight: 200;
}

hero-app .hero .text-wrap .btn-hero {
  background: red;
  border: none;
  padding: 0.9rem 2.3rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  border-radius: 2px;
  cursor: pointer;
}

hero-app .hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 768px) {
  hero-app .hero {
    height: 450px;
    background-position: right;
  }
  hero-app .hero::before {
    background: rgba(0, 0, 0, 0.8);
  }
  hero-app .hero .text-wrap {
    padding: 0;
    text-align: center;
  }
  hero-app .hero .text-wrap .btn-hero {
    padding: 0.8rem 1.4rem;
    font-size: 0.8rem;
    font-weight: 400;
  }
  hero-app .hero .text-wrap h2 {
    font-size: 1.6rem;
  }
}

.shadow {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.placeholder {
  color: #fff;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */